.upperDiv {
  padding:0 4rem;
  display: flex;
  background: linear-gradient(to right, #e2213c, #64111e, #096979, #00d4ff);
  color: white;
}

.social-link {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.7rem;
}

.contact-link {
  width: calc(100% - 33% - 33%);
  text-align: center;
  padding: 0.5rem 1rem;

}

.request {
  width: 33%;
  display: flex;
  justify-content: end;
  padding: 0 2rem 0 0;
}

.request p {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
}
.request p:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}